<div class="d-flex flex-column flex-md-row p-3 px-md-4 mb-3 border-bottom box-shadow bd-navbar"> <!-- Inicia encabezado -->
  <h5 class="my-2 mr-md-auto text-light font-weight-bold">
    {{tituloEncabezado}}
  </h5>
  <nav id="nav" class="navbar navbar-expand-lg navbar-light ">
    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navBarToggle" aria-controls="navBarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navBarToggle" class="collapse navbar-collapse text-light">
      <ul class="navbar-nav mt-3">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link text-light" [routerLink]="['/home']"  >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a  class="nav-link text-light" [routerLink]="['/products']" routerLinkActive="active">
            Productos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/add-product']" routerLinkActive="active">
            Crear producto
          </a>
        </li>
        <li class="nav-item">          
          <a class="nav-link text-light" data-toggle="modal" data-target="#loginModalView" [routerLink]="['/modalLogin']" >
            <i class="fa fa-user"></i>Iniciar sesión
          </a>
        </li>
        <li class="nav-item">          
          <a class="nav-link text-light" [routerLink]="['/add-product']" routerLinkActive="active">
            <i class="fa fa-sign-out"></i> Cerrar sesión
          </a>
        </li>
      </ul>
    </div>    
  </nav>   
</div> <!-- Fin encabezado -->
<app-modal-view></app-modal-view>