<app-header-login></app-header-login>
<div class="container">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center jumbotron">
    <h2>{{titulo}}</h2>
  </div>
  <div class="card-deck mb-3 text-center">
  <div class="card mb-9 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">
        Gestiona tus productos con la webApp
      </h4>
    </div>
    <div class="car-body">
      <button [routerLink]="['/products']" class="btn btn-lg btn-primary my-2">
        Ver productos »
      </button>
      <button [routerLink]="['/add-product']" class="btn btn-lg btn-success my-2">
        Añadir productos »
      </button>
    </div>
  </div>
  </div> 
</div>
