<form id="sigIn" #formSignIn="ngForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-at"></i>
          </span>
        </div>
        <input id="input-email-signin" name="email" class="form-control" required type="email" placeholder="Correo electrónico" [value]="user.email" [(ngModel)]="user.email">
      </div>
      <div *ngIf="formSignIn.hasError('required', 'email') && formSignIn.submitted" class="alert alert-danger">
        Valide el correo electrónico, es requerido.
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-lock"></i>
          </span>
        </div>
        <input id="input-pass-signin" name="password" class="form-control" required type="password" placeholder="Contraseña" #password="ngModel" [(ngModel)]="user.password">
      </div>
      <div *ngIf="formSignIn.hasError('required', 'password') && formSignIn.submitted" class="alert alert-danger">
        Valide la contraseña, es requerida.
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <div class="form-group no-mt">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="check-signin" type="checkbox">
            <label class="custom-control-label" for="check-signin">
              Recuérdame
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-raised btn-primary pull-right">
          Ingresar
        </button>
      </div>
    </div>
  </fieldset>
</form>