 @import "~bootstrap/dist/css/bootstrap.css";
 @import "~font-awesome/css/font-awesome.css";

.custom-file-input:lang(es) ~ .custom-file-label::after {
  content: "Buscar";
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #ECF0F5;
}

/*
  Estilo barra navegación 
*/
.bd-navbar {
    background-color: #03A9F4;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #1BBC9B;
    border-color: #dee2e6 #dee2e6 #fff;
}

/*
  Estilo imagen en div.card 
*/
.image-container-preview {
	overflow: hidden;
	width: 100%;
}
.image-style-preview {
	display: block;
	height: 200px;
	margin: 0px auto;
}

.image-style-show {
	display: block;
	height: 250px;
	margin: 0px auto;
}
.image-container-show {
	overflow: hidden;
}

/*
  Estilos del pie de página 
*/
.footer {
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    color: #40aed2;
    display: block;
    margin-top: 1em;
    text-align: center;
    padding: 40px 0;
}
