<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
        <h1>
          {{titulo}}
        </h1>
        <div class="text-center">
          {{detalle}}
        </div>
        <div class="text-center">
        	<p>Lo que puedes hacer es:</p>
          <a [routerLink]="['/home']" class="btn btn-primary btn-lg">
          	<i class="fa fa-home" aria-hidden="true"></i>
            Ir a la página inicial
          </a>
        </div>
      </div>
    </div>
  </div>
</div>