<div class="col-md-8 offset-md-2"><!-- div principal -->
<div class="card card-outline-secondary">
  <div class="card-header">
   <h3>{{titulo}}</h3>
  </div>
  <div class="card-block p-4">
    <form #formProduct="ngForm" (ngSubmit)="onSubmit(); " class="needs-validation" >
      <div class="mb-3">
        <label for="name">Nombre del producto</label>
        <div class="input-group">
          <input class="form-control" name="name" placeholder="" value="" required type="text" #nombre="ngModel" [(ngModel)]="product.name">          
        </div>
        <div *ngIf="formProduct.hasError('required', 'name') && formProduct.submitted" class="alert alert-danger">
          Valide el nombre del producto, es requerido.
        </div>
      </div>
      <div class="mb-3">
        <label for="description">Descripción del producto</label>
        <div class="input-group">
          <textarea class="form-control" rows="3" name="description" placeholder="" value="" required type="text" #description="ngModel" [(ngModel)]="product.description">
          </textarea>
        </div>
        <div *ngIf="formProduct.hasError('required', 'description') && formProduct.submitted" class="alert alert-danger">
          Valide la descripción del producto, es requerida.
        </div>
      </div>
      <div>
        <label for="price">Precio</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input class="form-control" name="price" placeholder="123.123" required type="text" #price="ngModel" [(ngModel)]="product.price" maxlength="15">
        </div>
        <div *ngIf="formProduct.hasError('required', 'price') && formProduct.submitted || (price.value / 1 != price.value && price.value != null)" class="alert alert-danger" style="width: 100%;">
          El precio es requerido
        </div>
      </div>
      <hr class="mb-4">
      <div>
        <div *ngIf="isEdit">
          <img style="width: 60px;" src="{{url}}upload/{{product.image}}">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Cargar</span>
          </div>
          <div class="custom-file">
            <input class="custom-file-input" id="image" type="file" (change)="fileChangeEvent($event)">
            <label class="custom-file-label" for="image">
              Seleccionar imagen
            </label>
          </div>
          <small id="fileHelp" class="form-text text-muted">
            La imagen será asociada al producto, debe ser menor o igual a 3mb y solo se permiten formatos png y jpg
          </small>
          <div *ngIf="resFileUpload" class="alert alert-danger">
            {{resFileUpload}}
          </div>
        </div>
      </div>
      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">
        Guardar registro
      </button>
    </form>
  </div><!-- card-block -->
</div><!-- card -->
</div><!-- div principal -->